@media only screen and (min-width: 992px) {
  nav#menu.main-menu {
    display: block !important;
  }

  header .btn_mobile {
    display: none !important;
  }

  .main-menu {
    position: relative;
    z-index: 9;
    width: auto;
    top: 8px;
    right: 15px;
    float: right;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #fff;
  }
  .main-menu ul,
  .main-menu ul li {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  .main-menu ul a,
  .main-menu ul li a {
    position: relative;
    margin: 0;
    padding: 0;
    display: block;
    padding: 5px 10px;
    white-space: nowrap;
  }

  /*First level styles */
  .main-menu > ul > li span > a {
    color: #fff;
    padding: 0 8px 15px 8px;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 500;
  }
  .main-menu > ul > li span:hover > a {
    opacity: 0.7;
  }
}

@media only screen and (max-width: 991px) {
  nav#menu {
    display: none !important;
  }

.main-menu {
    top: 0;
    right: 0;
    float: none;
  }
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #f8f8f8;
  font-size: 0.875rem;
  line-height: 1.6;
  font-family: "Poppins", Helvetica, sans-serif;
  color: #555;
}

h2,
h3 {
  color: #333;
}

p {
  margin-bottom: 30px;
}

strong {
  font-weight: 600;
}

hr {
  margin: 0px 0px 0px 0px;
  border-color: #ddd;
}

ul {
  list-style: none;
  margin: 0 0 25px 0;
  padding: 0;
}

.main_title_2 {
  text-align: center;
  margin-bottom: 45px;
  position: relative;
}
.main_title_2 span {
  width: 120px;
  height: 2px;
  background-color: #e1e1e1;
  display: block;
  margin: auto;
}
.main_title_2 span em {
  width: 60px;
  height: 2px;
  background-color: #004dda;
  display: block;
  margin: auto;
}
@media (max-width: 767px) {
  .main_title_2 {
    margin-bottom: 10px;
  }
}
.main_title_2 h2 {
  margin: 25px 0 0 0;
}
@media (max-width: 767px) {
  .main_title_2 h2 {
    font-size: 26px;
    font-size: 1.625rem;
  }
}
.main_title_2 p {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.4;
}
@media (max-width: 767px) {
  .main_title_2 p {
    font-size: 18px;
    font-size: 1.125rem;
  }
}

a {
  color: #004dda;
  text-decoration: none;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none;
}
a:hover, a:focus {
  color: #111;
  text-decoration: none;
  outline: none;
}

a.btn_add,
.btn_add {
  border: none;
  color: #fff;
  background: #004dda;
  outline: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #fff !important;
  font-weight: 600;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  line-height: 1 !important;
  padding: 10px 15px !important;
  position: relative;
  top: 2px;
}
@media (max-width: 991px) {
  a.btn_add,
  .btn_add {
    display: none;
  }
}
a.btn_add:hover,
.btn_add:hover {
  background-color: #FFC107;
  color: #222 !important;
  opacity: 1 !important;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 12px 20px 0px;
  z-index: 99999999;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  background-image: linear-gradient(#071a58 -34%, #1c3ba0 84%, #103bbf 100%);
}
@media (max-width: 767px) {
  header.header {
    padding: 15px 15px 5px 15px;
  }
}
header.header .logo_sticky {
  display: none;
}

header.header.sticky {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.sticky2 {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid #ededed;
  background-color: #fff;
  padding: 12px 20px 5px;
  background-image: linear-gradient(#071a58 -34%, #1c3ba0 84%, #103bbf 100%);
}

@media (max-width: 991px) {
  header.header.sticky {
    padding: 15px 15px 5px 15px;
  }
}
header.header.sticky .logo_normal {
  display: none;
}
header.header.sticky .logo_sticky {
  display: inline-block;
}
header.header_in {
  padding: 10px 0;
  background-color: #fff;
  position: relative;
  border-bottom: 1px solid #ededed;
}
header.header_in.is_sticky.sticky {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
header.header_in.map_view {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
header.header_in ul#top_menu li a {
  color: #fff;
}
@media (max-width: 991px) {
  header.header_in {
    padding: 10px 0 5px 0;
  }
  header.header_in ul#top_menu {
    position: absolute;
    right: 15px;
    float: none;
  }
  header.header_in #logo a {
    z-index: 9;
    position: relative;
  }
}

.sub_header_in {
  background-color: #dc3545;
  padding: 20px 0;
}
.sub_header_in h1 {
  color: #fff;
  margin: 0;
  font-size: 26px;
  font-size: 1.625rem;
}
@media (max-width: 575px) {
  .sub_header_in h1 {
    font-size: 18px;
    font-size: 1.125rem;
  }
}

ul#top_menu {
  float: right;
  margin: 0 0 0 10px;
  padding: 0;
  font-size: 13px;
  font-size: 0.8125rem;
}
@media (max-width: 991px) {
  ul#top_menu {
    margin: -2px 0 0 10px;
  }
}
ul#top_menu li {
  float: left;
  margin: 0;
  line-height: 1;
  margin-right: 15px;
}
ul#top_menu li:last-child {
  margin-right: 0;
  position: relative;
  top: 0;
}
@media (max-width: 991px) {
  ul#top_menu li {
    margin: 2px 0 0 10px;
  }
}
ul#top_menu li a {
  color: #fff;
}
ul#top_menu li a:hover {
  color: #fff;
  opacity: 0.7;
}
ul#top_menu li a.login, ul#top_menu li a.wishlist_bt_top {
  display: block;
  width: 22px;
  height: 23px;
  position: relative;
  top: 8px;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
@media (max-width: 991px) {
  ul#top_menu li a.login, ul#top_menu li a.wishlist_bt_top {
    top: 2px;
  }
}
ul#top_menu li a.login:before, ul#top_menu li a.wishlist_bt_top:before {
  font-family: 'Glyphter';
  font-size: 21px;
  font-size: 1.3125rem;
  text-indent: 0;
  position: absolute;
  left: 0;
  top: 0;
  font-weight: normal;
  line-height: 1;
}
.sticky ul#top_menu li a.login:before, .sticky ul#top_menu li a.wishlist_bt_top:before {
  color: #fff;
}
ul#top_menu li a.wishlist_bt_top {
  text-indent: -9999px;
  overflow: hidden;
}
ul#top_menu li a.wishlist_bt_top:before {
  content: '\0043';
}
ul#top_menu li a.login {
  text-indent: -9999px;
  overflow: hidden;
}
ul#top_menu li a.login:before {
  content: '\0042';
}

header.sticky .hamburger-inner, header.sticky .hamburger-inner::before, header.sticky .hamburger-inner::after, header.header_in .hamburger-inner, header.header_in .hamburger-inner::before, header.header_in .hamburger-inner::after {
  background-color: #fff;
}

header.sticky .search-inner, header.sticky .search-inner::before, header.sticky .search-inner::after, header.header_in .search-inner, header.header_in .search-inner::before, header.header_in .search-inner::after {
  background-color: #fff;
}

#logo {
  float: left;
}
@media (max-width: 991px) {
  #logo {
    float: none;
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    text-align: center;
  }
  #logo img {
    width: auto;
    height: 41px;
    margin: 5px 0 0 0;
  }
}

main {
  background-color: #f8f8f8;
  position: relative;
  z-index: 1;
}

footer {
  border-top: 1px solid #ededed;
  background-color: #fff;
}
footer h3 {
  margin: 0 0 15px 0;
  font-size: 18px;
  font-size: 1.125rem;
}
@media (max-width: 575px) {
  footer h3 {
    font-size: 16px;
    font-size: 1rem;
    margin: 0;
  }
}
footer a.collapse_bt_mobile {
  position: relative;
  display: block;
  cursor: default;
}
@media (max-width: 575px) {
  footer a.collapse_bt_mobile {
    border-bottom: 1px solid #ededed;
    padding: 12px 0;
  }
}
footer a.collapse_bt_mobile .circle-plus {
  display: none;
}
@media (max-width: 575px) {
  footer a.collapse_bt_mobile .circle-plus {
    display: block;
    position: absolute;
    top: 8px;
    right: 0;
  }
}
@media (max-width: 575px) {
  footer hr {
    display: none;
  }
}
@media (max-width: 575px) {
  footer ul {
    padding-top: 15px;
  }
}
footer ul li {
  margin-bottom: 5px;
}
footer ul li a {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  position: relative;
  color: #555;
}
footer ul li a:hover {
  color: #004dda;
  opacity: 1;
}
footer ul li a i {
  margin-right: 10px;
  color: #fff;
}
footer ul.links li a:hover {
  -webkit-transform: translate(5px, 0);
  -moz-transform: translate(5px, 0);
  -ms-transform: translate(5px, 0);
  -o-transform: translate(5px, 0);
  transform: translate(5px, 0);
}
footer ul.links li a:hover:after {
  opacity: 1;
  color: #004dda;
}
footer ul.links li a:after {
  font-family: 'ElegantIcons';
  content: "\24";
  position: absolute;
  margin-left: 5px;
  top: 1px;
  opacity: 0;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.follow_us {
  animation-delay: 1.1s;
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay: 1.1s;
}
.follow_us ul li {
  display: inline-block;
  margin-right: 5px;
  font-size: 20px;
  font-size: 1.25rem;
}
.follow_us ul li a i {
  color: #555;
  opacity: 0.6;
}
.follow_us ul li a i:hover {
  opacity: 1;
  color: #004dda;
}

ul#footer-selector {
  margin: 0 0 0 0;
  padding: 0;
  list-style: none;
}
@media (max-width: 575px) {
  ul#footer-selector {
    margin-top: 30px;
  }
}

ul#additional_links {
  margin: 0;
  padding: 8px 0 0 0;
  color: #555;
  font-size: 13px;
  font-size: 0.8125rem;
  float: right;
}
@media (max-width: 991px) {
  ul#additional_links {
    float: none;
    margin-top: 10px;
  }
}
ul#additional_links li {
  display: inline-block;
  margin-right: 15px;
}
ul#additional_links li:first-child {
  margin-right: 20px;
}
ul#additional_links li:last-child:after {
  content: "";
}
ul#additional_links li span {
  color: #555;
  opacity: 0.8;
}
ul#additional_links li a {
  color: #555;
  opacity: 0.8;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
ul#additional_links li a:hover {
  opacity: 1;
}
ul#additional_links li:after {
  content: "|";
  font-weight: 300;
  position: relative;
  left: 10px;
}

.hero_single {
  width: 100%;
  position: relative;
  text-align: center;
  margin: 0;
  color: #fff;
}
.hero_single .wrapper {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
}
.hero_single .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.hero_single .wrapper h3 {
  color: #fff;
  font-size: 52px;
  font-size: 3.25rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
}
@media (max-width: 767px) {
  .hero_single .wrapper h3 {
    font-size: 21px;
    font-size: 1.3125rem;
  }
}
@media (max-width: 575px) {
  .hero_single .wrapper h3 {
    font-size: 23px;
    font-size: 1.4375rem;
  }
}
.hero_single .wrapper p {
  font-weight: 300;
  margin: 10px 0 0 0;
  padding: 0 20%;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.4;
}
@media (max-width: 767px) {
  .hero_single .wrapper p {
    padding: 0;
    font-size: 18px;
    font-size: 1.125rem;
  }
}
.hero_single.version_5 {
  height: 640px;
  background: #004dda url(../img/pattern_2.svg) center center repeat fixed;
}
@media (max-width: 767px) {
  .hero_single.version_5 {
    height: 550px;
  }
}
.hero_single.version_5 .wrapper {
  background: rgba(0, 0, 0, 0.6);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6), transparent);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), transparent);
  text-align: left;
}
.hero_single.version_5 .wrapper h3 {
  font-size: 36px;
  font-size: 2.25rem;
  text-shadow: none;
}
@media (max-width: 767px) {
  .hero_single.version_5 .wrapper h3 {
    font-size: 26px;
    font-size: 1.625rem;
    margin-top: 20px;
  }
}
@media (max-width: 575px) {
  .hero_single.version_5 .wrapper h3 {
    font-size: 22px;
    font-size: 1.375rem;
  }
}
.hero_single.version_5 .wrapper p {
  font-weight: 400;
  margin: 5px 0 20px 0;
  padding: 0;
  font-size: 21px;
  font-size: 1.3125rem;
  text-shadow: none;
}
@media (max-width: 767px) {
  .hero_single.version_5 .wrapper p {
    padding: 0;
    font-size: 14px;
    font-size: 0.875rem;
  }
}
.hero_single.version_5 .wrapper .custom-search-input-2 {
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.hero_single.version_5 .wrapper .form-group {
  margin-bottom: 10px;
}
.hero_single.version_5 .wrapper input[type='submit'] {
  color: #222;
  margin-top: 10px;
  background-color: #FFC107;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
@media (max-width: 991px) {
  .hero_single.version_5 .wrapper input[type='submit'] {
    margin: 20px 0 0 0;
  }
}
.hero_single.version_5 .wrapper input[type='submit']:hover {
  background-color: #32a067;
  color: #fff;
}

.custom-search-input-2 {
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin-top: 10px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
}
@media (max-width: 991px) {
  .custom-search-input-2 {
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
.custom-search-input-2 input {
  border: 0;
  height: 50px;
  padding-left: 15px;
  border-right: 1px solid #d2d8dd;
  font-weight: 500;
}
@media (max-width: 991px) {
  .custom-search-input-2 input {
    border: none;
  }
}
.custom-search-input-2 input:focus {
  box-shadow: none;
  border-right: 1px solid #d2d8dd;
}
@media (max-width: 991px) {
  .custom-search-input-2 input:focus {
    border-right: none;
  }
}
.custom-search-input-2 .form-group {
  margin: 0;
}
@media (max-width: 991px) {
  .custom-search-input-2 .form-group {
    margin-bottom: 5px;
  }
}
.custom-search-input-2 i {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  font-size: 18px;
  font-size: 1.125rem;
  position: absolute;
  background-color: #fff;
  line-height: 50px;
  top: 1px;
  right: 1px;
  padding-right: 15px;
  display: block;
  width: 20px;
  box-sizing: content-box;
  height: 48px;
  z-index: 9;
  color: #999;
}
@media (max-width: 991px) {
  .custom-search-input-2 i {
    padding-right: 10px;
  }
}
.custom-search-input-2 input[type='submit'] {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  font-size: 0.875rem;
  border: 0;
  padding: 0 25px;
  height: 50px;
  cursor: pointer;
  outline: none;
  width: 100%;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  background-color: #004dda;
  margin-right: -1px;
}
@media (max-width: 991px) {
  .custom-search-input-2 input[type='submit'] {
    margin: 20px 0 0 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
  }
}
.custom-search-input-2 input[type='submit']:hover {
  background-color: #FFC107;
  color: #222;
}

.score strong {
  background-color: #32a067;
  color: #fff;
  line-height: 1;
  -webkit-border-radius: 5px 5px 5px 0;
  -moz-border-radius: 5px 5px 5px 0;
  -ms-border-radius: 5px 5px 5px 0;
  border-radius: 5px 5px 5px 0;
  padding: 10px;
  display: inline-block;
}
.score span {
  display: inline-block;
  position: relative;
  top: 7px;
  margin-right: 8px;
  font-size: 12px;
  font-size: 0.75rem;
  text-align: right;
  line-height: 1.1;
  font-weight: 500;
}
.score span em {
  display: block;
  font-weight: normal;
  font-size: 11px;
  font-size: 0.6875rem;
}

.strip {
  background-color: #fff;
  display: block;
  position: relative;
  margin-bottom: 30px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}
.strip .wrapper {
  padding: 20px 25px 15px 25px;
}
.strip .wrapper h3 {
  font-size: 20px;
  font-size: 1.25rem;
  margin: 0;
}
.strip .wrapper small {
  font-weight: 600;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 13px;
  font-size: 0.8125rem;
}
.strip .wrapper p {
  margin-bottom: 15px;
}
.strip ul {
  padding: 20px 15px 17px 20px;
  border-top: 1px solid #ededed;
}
.strip ul li {
  display: inline-block;
  margin-right: 15px;
}
.strip ul li .score {
  margin-top: -10px;
}
.strip ul li:first-child {
  font-size: 13px;
  font-size: 0.8125rem;
  margin-top: -4px;
}
.strip ul li:last-child {
  margin-right: 0;
  float: right;
}

#filters_col {
  background-color: #fff;
  padding: 20px 20px 15px 20px;
  margin-bottom: 25px;
  border: 1px solid #ededed;
}
#filters_col label {
  color: #333;
  font-weight: normal;
}

a#filters_col_bt {
  display: block;
  color: #333;
  position: relative;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 600;
}
a#filters_col_bt:before {
  font-family: "ElegantIcons";
  content: "\66";
  font-size: 26px;
  font-size: 1.625rem;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 1;
  font-weight: normal;
}

.filter_type h6 {
  border-top: 1px solid #ededed;
  margin: 15px 0;
  padding: 15px 0 0 0;
  font-size: 13px;
  font-size: 0.8125rem;
}
.filter_type ul {
  list-style: none;
  padding: 0;
  margin: 0 0 15px 0;
}
.filter_type ul li {
  margin-bottom: 5px;
}
.filter_type ul li small {
  float: right;
  position: relative;
  top: 4px;
}
.filter_type ul li:last-child {
  margin-bottom: 0;
}

#search_mobile {
  overflow: auto;
  transform: translateX(105%);
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  position: fixed;
  background: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 60px 30px 30px 30px;
  z-index: 9999999999999999 !important;
  -webkit-box-shadow: 1px 0px 5px 0px rgba(50, 50, 50, 0.55);
  -moz-box-shadow: 1px 0px 5px 0px rgba(50, 50, 50, 0.55);
  box-shadow: 1px 0px 5px 0px rgba(50, 50, 50, 0.55);
  -webkit-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

#search_mobile.show {
  transform: translateX(0);
}

@media (max-width: 767px) {
  #search_mobile {
    width: 100%;
    padding: 45px 30px 30px 30px;
  }
}
#search_mobile input.form-control {
  border: 1px solid #d2d8dd;
  box-shadow: none;
}
#search_mobile .custom-search-input-2 {
  box-shadow: none;
}
#search_mobile .custom-search-input-2 input[type='submit'] {
  margin: 20px 0 0 0;
}
#search_mobile .form-group {
  margin-bottom: 5px;
}
#search_mobile a.side_panel {
  font-size: 32px;
  font-size: 2rem;
  display: block;
  position: absolute;
  right: 10px;
  top: 0;
  color: #999;
}
#search_mobile a.side_panel:hover {
  color: #dc3545;
}

.layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 100%;
  z-index: 100;
  min-height: 100%;
  background-color: #000;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0s ease 0.3s;
  -moz-transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0s ease 0.3s;
  -ms-transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0s ease 0.3s;
  -o-transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0s ease 0.3s;
  transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0s ease 0.3s;
  opacity: 0;
  visibility: hidden;
}

.container_check {
  display: block;
  position: relative;
  font-size: 14px;
  font-size: 0.875rem;
  padding-left: 30px;
  line-height: 1.4;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container_check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.container_check input:checked ~ .checkmark {
  background-color: #dc3545;
  border: 1px solid transparent;
}
.container_check .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #d2d8dd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.container_check .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container_check input:checked ~ .checkmark:after {
  display: block;
}

.closed .vertical {
  transition: all 0.5s ease-in-out;
  transform: rotate(-90deg);
}
.closed .horizontal {
  transition: all 0.5s ease-in-out;
  transform: rotate(-90deg);
  opacity: 1;
}

.circle-plus {
  height: 14px;
  width: 14px;
  display: block;
  position: relative;
  float: right;
  margin-top: 5px;
}

.circle-plus .horizontal {
  position: absolute;
  background-color: #999;
  width: 14px;
  height: 2px;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: 0;
}

.circle-plus .vertical {
  position: absolute;
  background-color: #999;
  width: 2px;
  height: 14px;
  left: 50%;
  margin-left: -2px;
  top: 50%;
  margin-top: -6px;
}

.form-control {
  height: calc(2.55rem + 2px);
  font-size: 14px;
  font-size: 0.875rem;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d2d8dd;
}

.form-group {
  position: relative;
}

.bg_color_1 {
  background-color: #f1f1f152;
}

.nice-select .list:hover .option:not(:hover) {
  background-color: transparent !important;
}

#toTop {
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 9999;
  width: 46px;
  height: 46px;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
  border-radius: 50%;
  text-align: center;
  font-size: 21px;
  color: #fff;
  cursor: pointer;
}
@media (max-width: 767px) {
  #toTop {
    display: none !important;
  }
}
#toTop:after {
  content: "\e899";
  font-family: "fontello";
  position: relative;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-55%);
  transform: translateY(-55%);
}
#toTop:hover {
  background-color: #004dda;
}

.margin_60_35 {
  padding-top: 20px;
  padding-bottom: 5px;
}
@media (max-width: 575px) {
  .margin_60_35 {
    padding-top: 30px;
    padding-bottom: 5px;
  }
}

.margin_80_55 {
  padding-top: 80px;
  padding-bottom: 55px;
}
@media (max-width: 991px) {
  .margin_80_55 {
    padding-top: 60px;
    padding-bottom: 35px;
  }
}
@media (max-width: 575px) {
  .margin_80_55 {
    padding-top: 45px;
    padding-bottom: 15px;
  }
}